# Gradle
.gradle/
build/

# IntelliJ / IDEA
.idea/
*.iml
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
!/.env.example

# Spring / local config (원하면 패턴 추가)
application-local.yml
application-local.yaml
application-prod.yml
application-prod.yaml
