spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/bookstore?serverTimezone=Asia/Seoul&characterEncoding=utf8}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB
app:
  jwt:
    secret: ${JWT_SECRET}
    access-exp-min: ${JWT_ACCESS_EXPIRES_MIN:30}
    refresh-exp-days: ${JWT_REFRESH_EXPIRES_DAYS:14}


management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true



server:
  tomcat:
    max-http-form-post-size: 2MB
    max-swallow-size: 2MB



